.content{
    padding: 8px;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin-right: 25px;
    margin-left: 45px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.size{
    height: 200px;
    width: 200px;
}

.img{
    border-radius: 20px;
    margin-top: 12px;
    
}

.box{
    border-radius: 40px;
    background: blanchedalmond;
}